!/**/.gitkeep
/testdata/out
/testdata-seg-fault/out
.idea
*.DS_Store
/data
/docker-ignored/
/src/csv2tde.pyc
/sampleconfig/
/src/main.pyc
php/vendor/
php/composer.phar
*.pyc
/DataExtract.log
/.cache/
/tests/.cache/
/php/.tern-port
/src/.cache/
/.env
/.vscode/tags
/ignored/*
